.card {
    display: flex;
    position: relative;
    align-items: center;
    justify-content:center;
    transform: perspective(1000px) rotateY(var(--rotate-y,0)) translateY(var(--translate-y,0));
    transform-style:preserve-3d;
    transition: 150ms;
}

.card.show {
    --rotate-y:180deg;
}

.card .front
.card .back{
    position:absolute;
    backface-visibility: hidden;
}

.card.front{
    left:0;
}

.card .back{
    transform:rotateY(180deg);
}